<form class="col s12 white" #changePassword="ngForm" (ngSubmit)="OnSubmit(password.value,newpassword.value)">
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" #password='ngModel' [(ngModel)]="Password" required class="validate" minlength="4" name="password" required>
        <label for="password">Current Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="newpassword" type="password" #newpassword='ngModel' [(ngModel)]="NewPassword" required class="validate" minlength="4" name="newpassword" required>
        <label for="newpassword">New Password</label>
      </div>
    </div>

    <div class="row">
      <button [disabled]="!changePassword.valid" class="waves-effect blue waves-light btn-large" type="submit"> Change Password </button>
    </div>
  </form>