<div *ngIf="isLoading" class="loading-img"></div>
<div class="row">
    <div class="input-field col s10">
      <i class="material-icons prefix">search</i>
      <input type="text" name="search" id="search" class="autocomplete" [(ngModel)]="filter">
      <label for="search">Search Job</label>
    </div>
</div>

<div *ngFor = "let l of data | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; ">
  <div class="row">
      <div class="col s12 m12 post-box">
          <div class="title">
            {{l.title}}
          </div>
          <div class="description" [innerHTML]="l.description"></div>
          <div class="request">
            <a routerLink="/viewpost/{{l.id}}" class="waves-effect waves-light btn">View Full Post and Apply</a>
          </div>
      </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
