<div class="container forgot-password">
  <form class="col s12 white" #ForgotPassword="ngForm" (ngSubmit)="OnSubmit(email.value)">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
          <input id="email" type="email" #email="ngModel" [(ngModel)]="Email" required class="validate" name="Email">
          <label data-error="Email Required" for="Email">Email Id</label>
        </div>
      </div>

      <div class="row">      
          <button [disabled]="!ForgotPassword.valid" class="waves-effect waves-light blue btn-large" type="submit"> Submit </button>
      </div>
  </form>
</div>
