<div class="row">
    <form class="col s12" #postForm="ngForm" (ngSubmit)="OnSubmit(posttitle.value)">
      <div class="row">
        <div class="input-field col s9">
          <input id="posttitle" name="posttitle" #posttitle="ngModel" [(ngModel)]="posttitletext" type="text" class="validate">
          <label for="Title">Title</label>
        </div>
        <div class="input-fiedl col s3">
            <button class="waves-effect waves-light btn-large" type="submit"> Submit </button>
        </div>
      </div>
    </form>

    <div class="input-field col s12">
        
        <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
        
    </div>
  
  </div>

  <!-- <button (click)="testDialog()">Model Test</button> -->