<!-- <div class="background-image"></div> -->

<div style="padding-top:20%">
  <form>
      <div class="row">
        <div class="input-field col s10">  
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete" (keyup)="onKey($event)">
          <label for="autocomplete-input">Search Job</label>
          <ul class="" >
              <li *ngFor = "let s of searchdata">{{s.title}}</li>
          </ul>
          <!-- <span class="floating">{{inputval}}</span> -->
        </div>

        <div class="col s2">
            <button class="waves-effect waves-light btn-large" type="submit"> Search </button>
        </div>

      </div>
    </form>
    
    <div class="row center">
      <div class="col s6">
          <a routerLink="/viewall"><button class="waves-effect waves-light blue btn-large"> View All Post </button></a>
      </div>
    <div class="row center">
      <div class="col s6">
          <a routerLink="/post"><button class="waves-effect waves-light blue btn-large"> Create New Post </button></a>
      </div>
        
    </div>
      
</div>
