<div class="container reset-password" *ngIf="isValid">
  <form class="col s12 white" #resetPassword="ngForm" (ngSubmit)="OnSubmit(password.value)">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" #password="ngModel" [(ngModel)]="Password" required class="validate" name="password">
          <label data-error="Password Required" for="password">New Password</label>
        </div>
      </div>

      <div class="row">      
          <button [disabled]="!resetPassword.valid" class="waves-effect waves-light blue btn-large" type="submit"> Reset Password </button>
      </div>
  </form>
</div>
