<div class="container profile">

  <div class="row">
    <div class="col s4 profile-menu">
      <div class="user-img">
        <!--<img src="assets/images/default-profile-pic.png">-->
        <img src="{{user.image}}">
      </div>
      
      <ul>
        <li><div class="divider"></div></li>
        
        <li><a routerLink="/userdetail" class="waves-effect">Update Details</a></li>
        <li><a routerLink="/changepassword" class="waves-effect">Change Password</a></li>
        <!--<li><a routerLink="/appliedjobs" class="waves-effect">View Applied Jobs</a></li>-->
      </ul>

    </div>

    <div class="col s8 profile-content">
      <!--<main>-->
        <router-outlet></router-outlet>
      <!--</main>   -->
    </div>
  </div>
  
</div>