<div class="container profile">

  <div class="row">
    <div class="col s4 profile-menu">

      <ul class="menu">
        <li>
          <div class="user-img">
            <!--<img src="assets/images/default-profile-pic.png">-->
            <img src="{{user.image}}">
          </div>
        </li>

        <li routerLink="/my-jobs" class="menu-item waves-effect">My Post</li>
        <li routerLink="/userdetail" class="menu-item waves-effect">Update Details</li>
        <li routerLink="/changepassword" class="menu-item waves-effect">Change Password</li>
      </ul>

    </div>

    <div class="col s8 profile-content">

        <router-outlet></router-outlet>

    </div>
  </div>

</div>
