<div class="admin-content">
  <table class="highlight">
    <thead>
      <tr>
          <th>
              S.No
          </th>
          <th>
            User Email
          </th>
        <th>
            User Name
        </th>
        <th>
            Post
        </th>
        <th>
            Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let l of data | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i=index;" >
        <td>
            {{ i + 1}}
        </td>
        <td>
            {{l.user.email}}
        </td>
        <td>
          {{l.user.name}}
        </td>
        <td>
          {{l.post.title}}
        </td>
        <td>
          <button (click)="openDialog(l.post,l.id);" class="waves-effect waves-light green btn">Approve/Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
