/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
a{
	color:black;
	cursor: pointer;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.loading-img {
	position: absolute;
	background: url("/assets/images/loading.gif") no-repeat center;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0; 
}

* {
	margin: 0;
	padding: 0;
	
}

body {
	font-family: 'Open Sans', sans-serif;
}

.background-image{
	background: url('assets/images/main-body.jfif') no-repeat fixed;
	background-size: cover;
	display: block;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	height: 800px;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 0;
}

header, main, footer {
    padding-left: 310px;
  }

@media only screen and (max-width : 700px) {
    header, main, footer {
      padding-left: 0;
		}
		
		.post-box{
			width: 100%;
		}
}


main > .container{
	width: 100%;
}

.admin-content{
  padding-left: 10px;
}

.post-box{
	width: 80% !important;
	border: solid 0.5px;
	border-color: lightgray;
	box-shadow: 5px 5px #888888;
	border-radius: 8px;
	margin-bottom: 10px;
}

.description{
	max-height: 200px;
	overflow: hidden;
	margin: 0 10px 0 10px;
	word-wrap: break-word;
}

.request{
	text-align: right;
	padding: 15px;
}

.title{
	text-transform: capitalize;
	text-align: center;
	padding: 20px;
}

.post-description{
	margin: 0 20px 0 20px;
	
}

.post-container{
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid 0.5px;
	border-color: lightgray;
	box-shadow: 5px 5px #888888;
	border-radius: 8px;
	height: 100%;
	word-wrap: break-word;
}

hr{
	margin: 10px 0 10px 0;
	
}