<div class="nav navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        
        <div class="nav-wrapper container">
          
          <a href="#" class="brand-logo">AVBIZ</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul *ngIf="!global.userLogin" class="hide-on-med-and-down right">
            <!-- <li><a routerLink="/home">Home</a></li> -->
            <li ><a routerLink="/login" class="waves-effect waves-light btn">Login/Register</a></li>
            
          </ul>
          <ul *ngIf="global.userLogin" class="hide-on-med-and-down right">
            <!-- <li><a routerLink="/home">Home</a></li> -->
            <!-- <li ><a routerLink="/login" class=""><i class="material-icons">account_box</i>Logout</a></li> -->
            <li >
              <a class="dropdown-trigger" data-target='dropdown1'><i class="material-icons md-48 md-light">account_circle</i></a>
              <ul id='dropdown1' class='dropdown-content'>
                  <li><a (click)="Logout()">Logout</a></li>
              </ul>

            </li>
            
          </ul>
        </div>
      </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <!-- <li><a routerLink="/">home</a></li> -->
  <li><a routerLink='/login'>Login/Register</a></li>
  
</ul>


<div class="container">
  
  <router-outlet></router-outlet>
  
</div>

<footer>
</footer>
