<div class="container">
  <div class="center">
    <h4>{{data.title}}</h4>
  </div>
  <div>
    {{data.description}}
  </div>

  <div class="right" *ngIf="!global.userLogin">
    Please &nbsp; <button class="waves-effect waves-light btn-small" (click)="loginRedirect()">Login</button> &nbsp; to request for contact
  </div>
  <div class="right" *ngIf="global.userLogin">
    <button (click)="requestContact(data.id)" class="waves-effect waves-light btn-large">Request Contact</button>
  </div>
</div>